{% extends "registration.html" %}
{% block title %}register new user {% endblock title %}

{% block staticContent %}
    <div class="registrationForm">
        <h1>Register</h1>
        <p>A link to activate your account will be sent to your email.</p>
        <form action="/account/register/" method="post">
            <table>
            {{ form }}
            </table>
            <input value="Register" type="submit">
        </form>
        <p>all fields are required</p>
    </div>
{% endblock %}

