{% extends "index.html" %}{% block help_content %}
<h2>Writing your first animal</h2>
Animals here are written in a custom assembly code for a stack machine. 
The code is written in JSON literal array form as an array of arrays.
Each instruction is an array of [operation,operand]. 
Some operations don't require an operand, and in these cases the operand is ignored.
<h2>Reproduction</h2>
<p>
The only required function that your animal <i>must</i> perform is reproduction. 
If a species does not reproduce, then it's species is a failure and will not be stored to the genebank.
Refer to the <a href="">api</a> for more detailed information.
</p>
<p>
The <i>tree</i> is an animal that only reproduces itself. Lets look at how it works. 
</p>
There are three main stages to actually reproduce.
<ol>
<li>Allocation</li>
<li>Writing the child</li>
<li>Division</li>
</ol>
<h3>Allocation</h3>
<p>
Before an animal can start writing the childs genome, it must first allocate memory to fit new animal.
Allocation has an expense (5*requested size) in cputime, and this allocation will fail if the animal does not have enough cputime.
So, checking if allocation succeeded is probably a good idea, and if it failed the animal can sleep to try and build up more cputime.
</p>

<div class="codeBlockExplanation">
Ignore line 1 for the moment.
<i>Alloc</i> allocates space at the end of the animal, the amount of memory to allocate is popped from the stack.
So <i>pushMemSize</i> puts the current animals memory size on the stack. 
<i>alloc</i> pops that off and attempts to allocate that amount of memory, and then puts true/false on the stack to indicate success.
<i>ifNotDo</i> (line 4) pops a value off the stack and if it is false, execution goes straight to line 5. 
If true, execution jumps to <i>[&quot;nop&quot;,200]</i>.
If allocation fails, line 5 tells the animal to sleep for 450 loops, and then line 6 <i>jmp</i>s back to <i>[&quot;nop&quot;,5]</i> to try allocation again.  

<pre>
["nop", 5],
["pushMemSize", 0], 
["alloc", 0], 
["ifNotDo", 200],
["sleep", 450],
["jmpB", 5],
["nop",200],
</pre>
</div>
<div class="codeBlockExplanation">
All of the jmp* instructions move a particular pointer to point to a named nop instruction.
On line 1 we are moving the read pointer to the start of the animal, and on line 2 and 3 we are moving the write pointer to the end of the animal, and then 1 past that, into the newly allocated space.

<pre>
["jmpReadPtrB", 5],
["jmpWritePtrF", 2],
["incWritePtr", 0],
</pre>
</div>
<h3>Write the child</h3>
<div class="codeBlockExplanation">
Here is the actual copy loop. Line 2 copies from the read pointer to the write pointer. 
Then on line 3 and 4 the read and write pointers are incremented.
On line 5 and 6, the current write pointer and total memory length are pushed to the stack.
Line 7 pops and compares those two values and puts back a boolean.
On line 8, if we are finished (false), jump the execution pointer to <i>[&quot;nop&quot;,6]</i>, and finish the copy loop.
If we aren't finished, then <i>jmpB</i> to <i>[&quot;nop&quot;,1]</i>.
<pre>
["nop", 1],
["copy", 0], 
["incReadPtr", 0], 
["incWritePtr", 0],
["pushWritePtr", 0], 
["pushMemSize", 0], 
["lt", 0], 
["ifDo", 6], 
["jmpB", 1],
["nop", 6], 
</pre>
</div>
<h3>Divide</h3>
<div class="codeBlockExplanation">
Attempt to divide, and check success. If it worked, then <i>jmpB</i> all the way to the start of the animal. 
The new animal has been placed in front of this animal.
<i>Divide</i> won't work if there is no available space to put the child.
If it didn't work jump to <i>[&quot;nop&quot;,9]</i>. 
Here the animal will <i>turnR</i> 4 times, attempting to divide. 
If after 4 times it still fails, then it <i>sleep</i>s for 450 loops, and then tries again.
<pre>
["divide", 0], 
["ifDo", 9], 
["jmpB", 5],
["nop", 9],
["incCounter", 0], 
["pushCounter", 0], 
["push", 4], 
["gte", 0],
["ifDo", 8],
["sleep", 450], 
["resetCounter", 0], 
["nop", 8], 
["turnR", 0],
["jmpB", 6],
["nop", 2] 
</pre>
</div>

<h2>Run your animal</h2>
In the sidebar there is a section "Create a New Species", put your animal's code here to test it out. The name that you choose will be given to this animal and all descendants of this animal.
It should be in a JSON literal format, but without the surrounding "[" and "]".

<h2>Debugging</h2>
<p>
When writing your animal, you might not get it right the first time. I certainly didn't.
Some debugging tools are provided.
When you create an animal, or if you click on an animal, then details of that animal will be shown in the sidebar in the "Single Process Information" section.
<p>
Here you can examine the state of the animal, and of each thread.
{% endblock %}
