{% extends "base.html" %}
{% block css %}
   <link rel="stylesheet" type="text/css" href="/static/dijit/themes/tundra/tundra.css" />
   <link rel="stylesheet" type="text/css" href="/static/dojo/resources/dojo.css" />
   {% if on_production_server %}
        <link rel="stylesheet" type="text/css" href="/static/style/application.css" />
   {% else %}
        <link rel="stylesheet" type="text/css" href="/static/devStyle/application.css" />
   {% endif %}
      
{% endblock %}

{% block js %}
{% if on_production_server %}
    <script type="text/javascript" src="/static/dojo/application.js"></script>
{% else %}
    <script type="text/javascript" src="/static/dojo/foreign.js"></script>
      <script type="text/javascript" src="/static/evolve/core.js"></script>
      <script type="text/javascript" src="/static/jquery/jquery-depends.js"></script>
      <script type="text/javascript" src="/static/jquery/jquery-gadget.js"></script>
      <script type="text/javascript" src="/static/jquery/jquery-log.js"></script>
      <script type="text/javascript" src="/static/evolve/environment.js"></script>
      <script type="text/javascript" src="/static/evolve/process.js"></script>
      <script type="text/javascript" src="/static/evolve/vm.js"></script>
      <script type="text/javascript" src="/static/evolve/dataAccess.js"></script>
      <script type="text/javascript" src="/static/evolve/species.js"></script>
      <script type="text/javascript" src="/static/evolve/speciesLibrary.js"></script>
      <script type="text/javascript" src="/static/evolve/display.js"></script>
      <script type="text/javascript" src="/static/evolve/assembly.js"></script>
      <script type="text/javascript" src="/static/evolve/application.js"></script>
      <script type="text/javascript" src="/static/evolve/ancestor.js"></script>
      <script type="text/javascript" src="/static/evolve/util.js"></script>
      <script type="text/javascript" src="/static/fragments/sidebar/sidebar.js"></script>
{% endif %}
{% endblock %}
{% block extraHeader %}
   <div id="controlButtons">
      <button id="play">Play</button>
      <button id="pause">Pause</button>
   </div>
{% endblock %}
{% block content %}
   
   <div id="gridDisplay"></div>
   <div id="ft" class="overlay">
      &copy; Jonathan Ricketson 2008
   </div>
{% endblock %}
