    {% block css %}
      <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.5.0/build/reset-fonts-grids/reset-fonts-grids.css" />
      <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.5.0/build/assets/skins/sam/layout.css" /> 
      <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.5.0/build/assets/skins/sam/resize.css" /> 
      <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.5.0/build/tabview/assets/skins/sam/tabview.css" />

      <link rel="stylesheet" type="text/css" href="stylesheets/global.css" />
      
      <!-- for logger -->   
      <link type="text/css" rel="stylesheet" href="http://yui.yahooapis.com/2.5.0/build/logger/assets/skins/sam/logger.css" /> 
    {% endblock %}

    {% block js %}
      <script src="http://yui.yahooapis.com/2.5.0/build/yahoo-dom-event/yahoo-dom-event.js"></script> 
      <script src="http://yui.yahooapis.com/2.5.0/build/logger/logger-min.js"></script> 
      <script src="http://yui.yahooapis.com/2.5.0/build/dragdrop/dragdrop-min.js"></script>  
      <script src="http://yui.yahooapis.com/2.5.0/build/element/element-beta-min.js"></script> 
      <script src="http://yui.yahooapis.com/2.5.0/build/resize/resize-beta-min.js"></script> 
      <script src="http://yui.yahooapis.com/2.5.0/build/layout/layout-beta-min.js"></script> 
      <script src="http://yui.yahooapis.com/2.5.0/build/tabview/tabview-min.js"></script>

      <script src="javascripts/jquery/jquery-1.2.3.min.js"></script>

      <script src="javascripts/core.js"></script>
      <script src="javascripts/environment.js"></script>
      <script src="javascripts/process.js"></script>
      <script src="javascripts/vm.js"></script>
      <script src="javascripts/dataAccess.js"></script>
      <script src="javascripts/species.js"></script>
      <script src="javascripts/speciesLibrary.js"></script>
      <script src="javascripts/display.js"></script>
      <script src="javascripts/assembly.js"></script>
      <script src="javascripts/index.js"></script>
    {% endblock %}
    {% block content %}
   <body class="yui-skin-sam">
      <div id="panelLayout"> </div>
      <div id="gridContainer">
         <div id="gridDisplay"></div>
      </div>
      <div id="sidebar">
         <ul class="yui-nav">
            <li class="selected"><a href="#about"><em>About</em></a></li>
            <li><a href="#navTab"><em>Navigation</em></a></li>
            <li><a href="#infoTab"><em>Information</em></a></li>
            <li><a href="#processTab"><em>Process Details</em></a></li>
            <li><a href="#createProcessTab"><em>Create Process</em></a></li>
            <li><a href="#logTab"><em>Logging</em></a></li>
         </ul>  
         <div class="yui-content">
            <div id="about">
            </div>
            <div id="navTab">
               <ul>
                  <li><a href="speciesList.html">View Species on Server</a></li>
                  <li><a href="script/test/run-tests.html">Run Javascript Tests</a></li>
               </ul>
            </div>
            <div id="infoTab">
               <table>
                  <tr><td>Loops</td><td><div id="loopCount"></div></td></tr>
                  <tr><td>Processes</td><td><div id="processCount"></div></td></tr>
                  <tr><td>Cpu speed (Hz)</td><td><div id="instrRate"></div></td></tr>
               </table>
               <div>Species List
                  <div id="speciesList"></div>
               </div>
            </div>
            <div id="processTab">
               <table>
                  <tr><td>id</td><td><div class="id"></div></td></tr>
                  <tr><td>cpuTime</td><td><div class="cputime"></div></td></tr>
                  <tr><td>activeThreads</td><td><div class="activeThreadCount"></div></td></tr>
                  <tr><td>code</td><td><div class="code"></div></td></tr>
               </table>
            </div>
            <div id="createProcessTab">
               <table>
                  <tr><td colspan="2"><button id="createProcess">Create Process</button></td></tr>
                  <tr><td>id</td><td><input id="createProcessId" /></td></tr>
                  <tr><td>colour</td><td><input id="createProcessColour"/></td></tr>
                  <tr><td>code</td><td><textarea id="createProcessCode" ></textarea></td></tr>
               </table>
            </div>
            <div id="logTab">
               <div id="logDisplay"></div>
            </div>
         </div>
      </div>
      <div id="doc3" class="yui-t2">
         <div id="hd" class="overlay">
            <div id="controlButtons">
               <div id="play"><img src="images/play_up.gif" /></div>
               <div id="pause"><img src="images/pause_up.gif" /></div>
            </div>
            <h1>
               Evolve the Future
            </h1>
            Evolution the way God intended
         </div>
         <div id="ft" class="overlay">
            &copy; Jonathan Ricketson 2008
         </div>
      </div>
    {% endblock %}
   </body>
</html>
