{% block css %}
   <link rel="stylesheet" type="text/css" href="/static/dijit/themes/tundra/tundra.css" />
   <link rel="stylesheet" type="text/css" href="/static/dojo/resources/dojo.css" />
   {% if on_production_server %}
        <link rel="stylesheet" type="text/css" href="/static/style/application.css" />
   {% else %}
        <link rel="stylesheet" type="text/css" href="/static/devStyle/application.css" />
   {% endif %}
      
{% endblock %}

{% block js %}
{% if on_production_server %}
    <script type="text/javascript" src="/static/dojo/application.min.js"></script>
{% else %}
    <script type="text/javascript" src="/static/dojo/foreign.js"></script>
    <script>
        dojo.require("evolve-profile", true);
        loadDependencies("application.js");
    </script>
{% endif %}
{% endblock %}
{% block content %}
   <body class="yui-skin-sam">
      <div id="panelLayout"> </div>
      <div id="gridContainer">
         <div id="gridDisplay"></div>
      </div>
      <div id="sidebar">
         <ul class="yui-nav">
            <li class="selected"><a href="#about"><em>About</em></a></li>
            <li><a href="#navTab"><em>Navigation</em></a></li>
            <li><a href="#infoTab"><em>Information</em></a></li>
            <li><a href="#processTab"><em>Process Details</em></a></li>
            <li><a href="#createProcessTab"><em>Create Process</em></a></li>
            <li><a href="#logTab"><em>Logging</em></a></li>
         </ul>  
         <div class="yui-content">
            <div id="about">
            </div>
            <div id="navTab">
               <ul>
                  <li><a href="speciesList.html">View Species on Server</a></li>
                  <li><a href="script/test/run-tests.html">Run Javascript Tests</a></li>
               </ul>
            </div>
            <div id="infoTab">
               <table>
                  <tr><td>Loops</td><td><div id="loopCount"></div></td></tr>
                  <tr><td>Processes</td><td><div id="processCount"></div></td></tr>
                  <tr><td>Cpu speed (Hz)</td><td><div id="instrRate"></div></td></tr>
               </table>
               <div>Species List
                  <div id="speciesList"></div>
               </div>
            </div>
            <div id="processTab">
               <table>
                  <tr><td>id</td><td><div class="id"></div></td></tr>
                  <tr><td>cpuTime</td><td><div class="cputime"></div></td></tr>
                  <tr><td>activeThreads</td><td><div class="activeThreadCount"></div></td></tr>
                  <tr><td>code</td><td><div class="code"></div></td></tr>
               </table>
            </div>
            <div id="createProcessTab">
               <table>
                  <tr><td colspan="2"><button id="createProcess">Create Process</button></td></tr>
                  <tr><td>id</td><td><input id="createProcessId" /></td></tr>
                  <tr><td>colour</td><td><input id="createProcessColour"/></td></tr>
                  <tr><td>code</td><td><textarea id="createProcessCode" ></textarea></td></tr>
               </table>
            </div>
            <div id="logTab">
               <div id="logDisplay"></div>
            </div>
         </div>
      </div>
      <div id="doc3" class="yui-t2">
         <div id="hd" class="overlay">
            <div id="controlButtons">
               <div id="play"><img src="images/play_up.gif" /></div>
               <div id="pause"><img src="images/pause_up.gif" /></div>
            </div>
            <h1>
               Evolve the Future
            </h1>
            Evolution the way God intended
         </div>
         <div id="ft" class="overlay">
            &copy; Jonathan Ricketson 2008
         </div>
      </div>
    {% endblock %}
   </body>
</html>
