{% extends "base.html" %}
{% block css %}
   {% if on_production_server %}
        <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}combined/evolve.css" />
   {% else %}
       <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}devStyle/application.css"/>
   {% endif %}
{% endblock %}

{% block js %}
{% if on_production_server %}
    <script type="text/javascript" src="{{ MEDIA_URL }}combined/complete.js"></script>
{% else %}
    <script type="text/javascript" src="{{ MEDIA_URL }}jquery/jquery-1-4-1.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}external/json2.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}external/contrast.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}evolve/core.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}jquery/jquery-depends.js"></script>
	<script type="text/javascript" src="{{ MEDIA_URL }}jquery/jquery-gadget.js"></script>
	<script type="text/javascript" src="{{ MEDIA_URL }}jquery/jquery-log.js"></script>
	<script type="text/javascript" src="{{ MEDIA_URL }}evolve/environment.js"></script>
	<script type="text/javascript" src="{{ MEDIA_URL }}evolve/process.js"></script>
	<script type="text/javascript" src="{{ MEDIA_URL }}evolve/dataAccess.js"></script>
	<script type="text/javascript" src="{{ MEDIA_URL }}evolve/species.js"></script>
	<script type="text/javascript" src="{{ MEDIA_URL }}evolve/speciesLibrary.js"></script>
	<script type="text/javascript" src="{{ MEDIA_URL }}evolve/assembly.js"></script>
	<script type="text/javascript" src="{{ MEDIA_URL }}evolve/application.js"></script>
	<script type="text/javascript" src="{{ MEDIA_URL }}evolve/ancestor.js"></script>
	<script type="text/javascript" src="{{ MEDIA_URL }}evolve/util.js"></script>
	<script type="text/javascript" src="{{ MEDIA_URL }}evolve/vm.js"></script>
	<script type="text/javascript" src="{{ MEDIA_URL }}fragments/sidebar/sidebar.js"></script>
{% endif %}
{% endblock %}
{% block extraHeader %}
   <div id="controlButtons">
      <button id="play">Play</button>
      <button id="slow">Slow</button>
      <button id="pause">Pause</button>
      <button id="step">Step</button>
   </div>
{% endblock %}
{% block content %}
   <div id="gridDisplay"></div>
{% endblock %}
{% block extraPage %}
   <div id="ft" class="overlay">
      &copy; Jonathan Ricketson 2008
   </div>
   <div id="messages"></div>
{% endblock %}
   