{% extends 'static.html' %} {% block content %}
If you want to know more, here are some resources to help you out.

<ul>
<li><a href="animalBlueprint.html">What are little animals made of?</a></li>
<li><a href="api.html">What do all these bits do?</a></li>
<li><a href="environment.html">This is the space that they run around in</a></li>
<li><a href="anatomyOfaTree.html">Lets take a closer look at how a tree works</a></li>
<li><a href="userInterface.html">This user interface looks super easy to use, but I can't figure it out!</a></li>
</ul>
If (after all that) you still want to talk to me, email me at <a href="mailto:evolve@evolvethefuture.com">jonathan@evolvethefuture.com</a>

{% endblock %}
