{% extends 'static.html' %} {% block content %}

<table id="findOutMoreContent">
<tr>
<td class="index">
<ul class="nav">
<li><a href="findOutMore.html">Overview</a></li>
<li><a href="animalBlueprint.html">What are little animals made of?</a></li>
<li><a href="api.html">What do all these bits do?</a></li>
<li><a href="environment.html">This is the space that they run around in</a></li>
<li><a href="anatomyOfaTree.html">Lets take a closer look at how a tree works</a></li>
<li><a href="userInterface.html">This user interface looks super easy to use, but I can't figure it out!</a></li>
</ul>
</td>
<td>
{% block help_content %}
<h2>You can help Evolve the Future</h2>
<p>
EvolveTheFuture is an artificial life (Alife) environment that challenges you to write a better animal.

It is a simple challenge with infinitely complex and interesting solutions.

<p>
Animals can move about eating other animals and are in turn eaten. Animals can reproduce and the children are usually like the parent, but sometimes they are a little different. And in that little difference evolution is allowed.

<p>
Evolution happens slowly though, so more interesting things might be able to be created through the imagination of people interested in natural competition.

Animals are written in a custom assembly code and run in a javascript environment in your browser - and everyone else's who opens this page.

<p>
The best animals are those that create a more successful species.
<p>

The best creators are those that create a successful dynasty.
<p>
If (after all that) you still want to talk to me, email me at <a href="mailto:evolve@evolvethefuture.com">jonathan@evolvethefuture.com</a>
{% endblock %}
</td>
</tr>



{% endblock %}
