{% extends 'static.html' %} {% block content %}
<h1 class="callToAction"><a href="/evolve.html">Start evolving</a></h1>
<p>EvolveTheFuture is an artificial life (Alife) environment that challenges you to write a
better animal.</p>
<p>It is a simple challenge with infinitely complex and interesting
solutions.</p>
<p>Animals can move about eating other animals and are in turn
eaten. Animals can reproduce and the children are usually like the
parent, but sometimes they are a little different. And in that little
difference evolution is allowed.</p>
<p>Evolution happens slowly though, so more interesting things might
be able to be created through the imagination of people interested in
natural competition.</p>
<p>Animals are written in a custom assembly code and run in a
javascript environment in your browser - and everyone else's who opens
this page.</p>
<p>The best animals are those that create a more successful species.</p>
<p>The best creators are those that create a successful dynasty.</p>
{% endblock %}
