{% extends "base.html" %}
{% block css %}
   {% if on_production_server %}
        <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}combined/speciesList.css" />
   {% else %}
       <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}devStyle/speciesList.css"/>
   {% endif %}
{% endblock %}
{% block content %}
      <div id="speciesList">
      	<table>
      	<tr>
      		<th>#</th>
      		<th>Species name</th>
      		<th>Score</th>
      		<th>Recent results</th>
      		<th>Has parent?</th>
      	</tr>
      {% for species in speciesList %}
      	<tr class="species" data-key="{{species.key}}">
      		<td>{{forloop.counter}}</td>
      		<td>{{species.uniqueName}}</td>
      		<td>{{species.score}}</td>
      		<td>{{species.scoreList|slice:"-5:"|join:","}}</td>
      		<td>{{species.parentRef|yesno:"Has parent,No parent"}}</td>
     		</tr>
      {% endfor %}
      	</table>
      </div>
      <div id="boxContainer">
	      <div class="box dropTarget code">Drop a species here to see its code
	      	<div id="code1" class="display"></div>
	      </div>
	      <div class="box dropTarget code">Drop a species here to see its code
	      	<div id="code2" class="display"></div>
	      </div>
	      <div class="box differences">Differences between the two species code
	   	   <div class="display"></div>
	      </div>
	      <div class="box dropTarget ancestry">Drop a species here to see its ancestry
		      <div class="display"></div>
	      </div>
	      <div style="clear:both;"></div>
      </div>
      <div style="clear:both;"></div>
{% endblock %}
{% block js %}
{% if on_production_server %}
    <script type="text/javascript" src="{{ MEDIA_URL }}combined/speciesList.js"></script>
{% else %}
    <script type="text/javascript" src="{{ MEDIA_URL }}jquery/jquery-1-8-2.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}jquery/jquery-event-drag-1-5.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}jquery/jquery-event-drop-1-2.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}external/json2.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}external/diff_match_patch.js"></script>
	<script type="text/javascript" src="{{ MEDIA_URL }}jquery/jquery-log.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}evolve/core.js"></script>
	<script type="text/javascript" src="{{ MEDIA_URL }}evolve/speciesList.js"></script>
	<script type="text/javascript" src="{{ MEDIA_URL }}evolve/assembly.js"></script>
	<script type="text/javascript" src="{{ MEDIA_URL }}evolve/vm.js"></script>
	<script type="text/javascript" src="{{ MEDIA_URL }}evolve/util.js"></script>
	<script type="text/javascript" src="{{ MEDIA_URL }}evolve/dataAccess.js"></script>
{% endif %}
{% endblock %}
