{% extends "base.html" %}
{% block css %}
   {% if on_production_server %}
        <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}combined/speciesList.css" />
   {% else %}
       <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}dijit/themes/tundra/tundra.css" />
       <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}dojo/resources/dojo.css" />
       <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}devStyle/speciesList.css"/>
   {% endif %}
{% endblock %}
{% block content %}
   <body >
      <div id="speciesList">
      	<table>
      {% for species in speciesList %}
      	<tr class="species" data-key="{{species.key}}">
      		<td>{{species.name}}</td>
      		<td>{% if species.validScore %}{{species.score}}{% else %}not enough matches yet {% endif %}</td>
      		<td>{{species.scoreList}}</td>
     		</tr>
      {% endfor %}
      	</table>
      </div>
      <div id="speciesCode"></div>
   </body>
{% endblock %}
{% block js %}
{% if on_production_server %}
    <script type="text/javascript" src="{{ MEDIA_URL }}combined/speciesList.js"></script>
{% else %}
    <script type="text/javascript" src="{{ MEDIA_URL }}dojo/dojo.js.uncompressed.js"></script>
    <script>
        dojo.require("evolve-profile", true);
        loadDependencies("speciesList.js");
    </script>
{% endif %}
{% endblock %}
