@import url("reset-min.css");
@import url("core.css");
@import url("../fragments/sidebar/sidebar.css");

#logoutLink {
    
}
#loginLink {
    display: none;
}

#viewport {
	height: 100%;
	width: 100%;	
	position: relative;
}

#layoutTop {
	height: 4em;
	position: relative;
}

#layoutCenter {
	position: relative;
}

div#gridDisplay {
    position: relative;
}

div#gridDisplay div.process {
    position: absolute;
    width: 15px;
    height: 10px;
}

div.divLink {
    text-decoration: underline;
}

/*
This is for the header
*/
div.overlay {
    position: absolute;
    z-index: 10;
    border: black thin solid;
    background: blue;
    width: 550px;
    text-align: center;
    left: 310px;
}

div#hd {
    top: 0;
    font-size: 15px;
    height: 50px;
}

div#hd h1 {
    font-size: 20px;
}

div#ft {
    bottom: 0;
    font-size: 10px;
    height: 30px;
}

div#gridDisplay {
    height: 100%;
    border: 1px solid black;
}

div#controlButtons {
    font-size: 125%;
    left: 300px;
    position: absolute;
    bottom: 0px;
    cursor: pointer;
}

#pause {
    display: none;
}

.species .totalCount, .species .currentCount {
    float: right;
    padding: 0 4px 0 4px;
}
.species .id {
    float: left;
    padding: 0 4px 0 4px;
}

div#messages{
	margin: 0 33%;
	width: 33%;
    z-index: 1000;
    position: absolute;
    top:0;
}
div#messages .msg{
    background-color: orange;
    color: black;
    margin: 2px;
    padding: 2px 2px 2px 6px;
    font-size: 1.1em;
    -moz-border-radius: 0.5em;
    -webkit-border-radius: 0.5em;
}

.code .current {
	background-color: red;	
}

.code .pointers {
	float: right;
	margin: 1px;
}

.code .line {
	border-bottom: 1px dotted black;
}

.clear {
	clear: both;
}