body {
	font-family:arial,helvetica,sans-serif;
	color:#333333;
	font-size: 62.5%;
}
html, body, #viewport {
	height:100%;
	width:100%;
	margin:0;
	padding:0;
   background-color: white;
}

div#loadingMessage {
   position: absolute;
   right: 0;
   top: 2.5em;
   background: red;
   color: white;
   padding: 4px;
   z-index: 100;   
}
.topLinks {
    float: right;
}
.topLinks a{
    margin: 0 0.3em;
}

div#ads {
	width: 120px;
	overflow: hidden;
	margin:0;
	border:0;
	padding:0;
	position:absolute;
	right:0px;
	top:58px;
}

a, a:link, a:visited, a:active, a:hover {
    color: #FF8C00;
}

.headerText {
    font-size: 200%;
}

.headerText a {
    text-decoration: none;
}

#header {
    padding: 0.5em 1em 0 1em;
    background-color: #ADFF2F;
    font-size: 150%;
} 

#jslog {
    display: none;
}

#layoutCenter {
	border-top: 1px solid black;
}

#layoutTop {
    font-size: 150%;
    padding-left: 1em;
}