@import url("reset-min.css");
@import url("core.css");
div#speciesList {
   float:left;
}

div.box {
   float:left;
   text-align: left;
   margin: 0 0 10px 10px;
   overflow: none;
   width: 200px;
   min-height: 400px;
   border: 1px solid #ddd;
   padding: 1em;
}

div.box .display {
	margin-top: 1em;
}

div.dragging {
	position: absolute;
	border: 1px solid black;
	background: #ddd;
	width: 50px;
	height: 50px;
}
div.dropTarget.active {
	background: #059;
}
.ancestry {
	float: right;
	width: 100px;
}
div.species {
	border: 1px solid black;
	width: 12em;
	padding: 2px;
	cursor: pointer;
	margin: 2px;
}

div.species.thisSpecies {
	background-color: #ddd;
}

#layoutCenter {
	border: 1px solid black;
	padding-top:1em;
	position: relative;
}

#loadingMessage {
	display: none;
}

#speciesList {
	font-size: 1.2em;
	position: relative;
}

#speciesList td {
	padding: 2px;
}

#speciesList th {
	font-weight: bold;
	padding: 2px;
}

#speciesList tr.species {
	cursor: pointer;
}
#speciesList tr.species:hover {
	background: #DDD;
}
	
	
