<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
    dir="{% if LANGUAGE_BIDI %}rtl{% else %}ltr{% endif %}"
    xml:lang="{% firstof LANGUAGE_CODE 'en' %}"
    lang="{% firstof LANGUAGE_CODE 'en' %}">
  <head>
    <title>Evolve the Future {% block title %}{% endblock %}</title>
    <meta http-equiv="keywords" content="evolution,javascript" />
    <meta http-equiv="description" content="Evolution of animals in javascript" />
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    {% block css %}
      {# <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}combined-{% if LANGUAGE_BIDI %}rtl{% else %}ltr{% endif %}.css" /> #}
    {% endblock %}
  </head>
   <body class="tundra"> 
        <div id="loadingMessage">Loading...</div>
        <div id="viewport" dojoType="dijit.layout.BorderContainer" design="headline">
            <div dojoType="dijit.layout.ContentPane" region="top" id="header" >
                  <span class="headerText"><a href="/evolve/">Evolve the Future</a></span>
                  Evolution the way God intended
                  <div id="topLinks">
                      <span id="username"></span> | 
                      <a href="/evolve/speciesList.html">all species</a> |
                      <a href="/">about</a> | 
                      <a href="/faq.html">faqs</a> |
                      <a id="logoutLink" href="/account/logout/?next=/" >logout</a>
                      <a id="loginLink" href="/account/login/" >login or register</a>
                  </div>
                  {% block extraHeader%}{%endblock%}
            </div>
            <div dojoType="dijit.layout.BorderContainer" gutters="false" region="center" id="contentDisplay">
                {% block content %}{% endblock content %}
            </div>
            <div id="ads" dojoType="dijit.layout.ContentPane" region="right">
                   {% if on_production_server %}
                  <script type="text/javascript"><!--
                     google_ad_client = "pub-7238105427277163";
                     /* 160x600, created 25/02/08 */
                     google_ad_slot = "8673627403";
                     google_ad_width = 160;
                     google_ad_height = 600;
                     //-->
                  </script>
                  <script type="text/javascript" src="http://pagead2.googlesyndication.com/pagead/show_ads.js"></script>
                   {% else %}
                   {% endif %}
            </div>
        </div>
        <div id="jslog"></div>
        <script type="text/javascript">
            var djConfig = {
                parseOnLoad:true
            };
            {% if on_production_server %}
            {% else %}
            function getDependencies(layerName) {
                for (var i=0;i<dependencies.layers.length;i++) {
                   var layer=dependencies.layers[i];
                   if (layerName==layer.name) {
                      return layer.dependencies;
                   }
                }
                return [];
             }
             function loadDependencies(layerName) {
                 var deps=getDependencies(layerName);
                 for (var i=0;i<deps.length;i++) {
                     dojo.require(deps[i], true);
                 }
             }
             {% endif %}
        </script>
        <script type="text/javascript" src="/static/dojo/dojo.js"></script>
        {% block js %}{% endblock js %}
        <script>
            {% if on_production_server %}
            window.onerror = CORE.handleErrorAsWarning;
            {% else %}
            window.onerror = CORE.handleErrorAsError;
            {% endif %}
             $(document).ready(function() {CORE.on_production_server = "{{on_production_server}}";});
             $.dependsOnScripts(["http://www.google-analytics.com/ga.js"], function() {
                 CORE.pageTracker = _gat._getTracker("UA-5647908-3");
                 CORE.pageTracker._trackPageview();
             });
        </script>
    </body>
</html>
