{% extends "static.html" %}
{% block css %}
   {% if on_production_server %}
        <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}combined/registration.css" />
   {% else %}
       <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}dijit/themes/tundra/tundra.css" />
       <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}dojo/resources/dojo.css" />
        <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}devStyle/registration.css" />
   {% endif %}
{% endblock css %}
