{% extends 'base.html' %}
{% block css %}
   {% if on_production_server %}
        <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}combined/static.css" />
   {% else %}
       <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}devStyle/static.css" />
   {% endif %}
{% endblock %}
{% block js %}
{% if on_production_server %}
    <script type="text/javascript" src="{{ MEDIA_URL }}combined/static.js"></script>
{% else %}
    <script type="text/javascript" src="{{ MEDIA_URL }}jquery/jquery-1-8-2.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}jquery/jquery-log.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}evolve/core.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}evolve/static.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}evolve/dataAccess.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}evolve/util.js"></script>
{% endif %}
{% endblock %}
