<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US" xml:lang="en-US">
   <head>
       <meta http-equiv="keywords" content="evolution,javascript" />
       <meta http-equiv="description" content="Evolution of animals in javascript" />
       <title>{% block title %}{% endblock %}evolve the future</title>
        {% block css %}
           {% if on_production_server %}
                <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}combined/static.css" />
           {% else %}
               <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}dijit/themes/tundra/tundra.css" />
               <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}dojo/resources/dojo.css" />
               <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}devStyle/static.css" />
           {% endif %}
        {% endblock css %}
    </head>
    <body> 
    <div id="page">
        <div id="header">
            <div class="topLinks">
                <a href="/about.html">about</a>
                <a href="/evolve/">evolve</a>
                <a href="/account/register/" class="emphasise">sign up</a>
                <a href="/account/login/">log in</a>
            </div>
            <span class="headerText"><a href="/">evolve the future</a></span> <span class="beta">(alpha)</span>
            <div style="clear: both"></div>
        </div>
        <div id="contentDisplay">
        {% block content %}
        {% endblock content %}
        </div>
        <div class="bottomLinks">
            <div>
            </div>
            <div>
            </div>
            <div style="clear:both"></div>
        </div>
    </div>
{% block js %}{% endblock js %}
    <script type="text/javascript" src="http://www.google-analytics.com/ga.js"></script>
    <script type="text/javascript">
        var pageTracker = _gat._getTracker("UA-5647908-3");
        pageTracker._trackPageview();
    </script>
   </body>
</html>

