<html>
   <head>
        <!--CSS-->
        <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.6.0/build/logger/assets/logger.css">
        <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.6.0/build/yuitest/assets/testlogger.css">
        
        <!-- Dependencies --> 
        <script type="text/javascript" src="http://yui.yahooapis.com/2.6.0/build/yahoo-dom-event/yahoo-dom-event.js"></script>
        <script type="text/javascript" src="http://yui.yahooapis.com/2.6.0/build/logger/logger-min.js"></script>
        
        <!-- Source File -->
        <script type="text/javascript" src="http://yui.yahooapis.com/2.6.0/build/yuitest/yuitest-min.js"></script>
      <script type="text/javascript" src="{{ MEDIA_URL }}test/test-first.js"></script>
      <script>
      console.log("test-first.js", TEST.checkCurrentPropsAgainstList(TEST.props));
      </script>
      <title>Evolution javascript tests</title>
    <script type="text/javascript" src="{{ MEDIA_URL }}jquery/jquery-1-4-1.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}external/json2.js"></script>
      <script>
          console.log("../jquery/jquery-1-3-2.js", TEST.checkCurrentPropsAgainstList(TEST.props));
      </script>

      <!-- all project modules -->
    <script type="text/javascript" src="{{ MEDIA_URL }}external/contrast.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}evolve/core.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}jquery/jquery-depends.js"></script>
	<script type="text/javascript" src="{{ MEDIA_URL }}jquery/jquery-gadget.js"></script>
	<script type="text/javascript" src="{{ MEDIA_URL }}jquery/jquery-log.js"></script>
	<script type="text/javascript" src="{{ MEDIA_URL }}evolve/environment.js"></script>
	<script type="text/javascript" src="{{ MEDIA_URL }}evolve/process.js"></script>
	<script type="text/javascript" src="{{ MEDIA_URL }}evolve/dataAccess.js"></script>
	<script type="text/javascript" src="{{ MEDIA_URL }}evolve/species.js"></script>
	<script type="text/javascript" src="{{ MEDIA_URL }}evolve/speciesLibrary.js"></script>
	<script type="text/javascript" src="{{ MEDIA_URL }}evolve/display.js"></script>
	<script type="text/javascript" src="{{ MEDIA_URL }}evolve/assembly.js"></script>
	<script type="text/javascript" src="{{ MEDIA_URL }}evolve/ancestor.js"></script>
	<script type="text/javascript" src="{{ MEDIA_URL }}evolve/util.js"></script>
	<script type="text/javascript" src="{{ MEDIA_URL }}evolve/vm.js"></script>
	<script type="text/javascript" src="{{ MEDIA_URL }}fragments/sidebar/sidebar.js"></script>
      <script>
          console.log("project javascript", TEST.checkCurrentPropsAgainstList(TEST.props));
      </script>

      <!-- all test modules -->
      <script type="text/javascript" src="{{ MEDIA_URL }}test/test-assembly.js"></script>
      <script type="text/javascript" src="{{ MEDIA_URL }}test/test-vm.js"></script>
      <script>
          console.log("test javascript", TEST.checkCurrentPropsAgainstList(TEST.props));
      </script>

      <!-- test runner -->
      <script type="text/javascript">
         jQuery(document).ready(function(){
            CORE.environment.initialiseGrid();

            //each testCase or testSuite should add itself to the testrunner ie:
            //YAHOO.tool.TestRunner.add(test_tds_core);
            
            //run all tests
            CORE.test.testLogger = new YAHOO.tool.TestLogger(); 
            CORE.test.testLogger.newestOnTop=true;
            CORE.test.testLogger.hideCategory("pass");
            YAHOO.tool.TestRunner.run();
         });
      
      </script>
   </head>
   <body class="yui-skin-sam">
      <div id="testLogger"></div>
   </body>
</html>