  <div id="sidebar">
    <div class="buttonContainer">
        <button class="opener">+</button>
        <button class="closer">-</button>
    </div>
    <div class="accordion options">
        <div title="Information" class="pane infoTab">
           <table>
              <tr><td>Loops</td><td><div id="loopCount"></div></td></tr>
              <tr><td>Processes</td><td><div id="processCount"></div></td></tr>
              <tr><td>Cpu speed (Hz)</td><td><div id="instrRate"></div></td></tr>
           </table>
           <div>Species List
              <div class="speciesList"></div>
           </div>
        </div>
        <div title="Process Details" class="pane processTab">
           <table>
              <tr><td>species name</td><td><div class="name"></div></td></tr>
              <tr><td>process age</td><td><div class="age"></div></td></tr>
              <tr><td>cpuTime</td><td><div class="cputime"></div></td></tr>
              <tr><td>activeThreads</td><td><div class="activeThreadCount"></div></td></tr>
              <tr><td>code</td><td><div class="code"></div></td></tr>
           </table>
        </div>
        <div title="Create Process" class="pane createTab">
           <table>
              <tr><td colspan="2"><button class="createProcess">Create Process</button></td></tr>
              <tr><td>id</td><td><input class="createProcessId" /></td></tr>
              <tr><td>colour</td><td><input class="createProcessColour"/></td></tr>
              <tr><td>code</td><td><textarea class="createProcessCode" ></textarea></td></tr>
           </table>
        </div>
        <div title="Advanced Options" class="pane advancedTab">
            <span>instructions per cycle</span>
            <input id="instructionsPerCycle" value="50" />
        </div>
        <div title="Logging" class="pane logTab">
            <div class="log"></div>
        </div>
    </div>
  </div>
