  <div id="sidebar">
    <div class="buttonContainer">
        <button class="opener">+</button>
        <button class="closer">-</button>
    </div>
    <div class="accordion options">
        <div title="Information" class="pane infoTab expanded">
        	  <div class="title">Simulation Information</div>
           <table class="content">
              <tr><td>Loops</td><td><div id="loopCount"></div></td></tr>
              <tr><td>Processes</td><td><div id="processCount"></div></td></tr>
              <tr><td>Cpu speed (Hz)</td><td><div id="instrRate"></div></td></tr>
           </table>
        </div>
        <div class="pane expanded">
        	  <div class="title">Species List</div>
           <div class="speciesList content"></div>
        </div>
        <div title="Process Details" class="pane processTab collapsed">
        	  <div class="title">Single Process Information</div>
        	  <div class="content">
	           <table>
	              <tr><td>species name</td><td><div class="name"></div></td></tr>
	              <tr><td>process age</td><td><div class="age"></div></td></tr>
	              <tr><td>cpuTime</td><td><div class="cputime"></div></td></tr>
	              <tr><td>activeThreads</td><td><div class="activeThreadCount"></div></td></tr>
	              <tr><td>facing</td><td><div class="facing"></div></td></tr>
	           </table>
	           <div class="pane collapsed">
		        	  <div class="title">thread 1</div>
		           <table class="content">
		              <tr><td>stack</td><td><div class="stack"></div></td></tr>
		              <tr><td>counters</td><td><div class="counter"></div></td></tr>
		              <tr><td>short term memory</td><td><div class="shortTermMemory"></div></td></tr>
		              <tr><td>execution pointer</td><td><div class="executionPointer"></div></td></tr>
		              <tr><td>read pointer</td><td><div class="readPointer"></div></td></tr>
		              <tr><td>write pointer</td><td><div class="writePointer"></div></td></tr>
		              <tr><td>speed</td><td><div class="speed"></div></td></tr>
		           </table>
	           </div>
	           <div>code</div>
              <div class="code"></div>
           </div>
        </div>
        <div title="Create Process" class="pane createTab collapsed">
        	  <div class="title">Create a New Species</div>
           <table class="content">
              <tr><td colspan="2"><button class="createProcess">Create Process</button></td></tr>
              <tr><td>id</td><td><input class="createProcessId" /></td></tr>
              <tr><td>colour</td><td><input class="createProcessColour"/></td></tr>
              <tr><td>code</td><td><textarea class="createProcessCode" ></textarea></td></tr>
           </table>
        </div>
        <div title="Advanced Options" class="pane advancedTab collapsed">
        	  <div class="title">Advanced Options</div>
        	  <div class="content">
            <span>instructions per cycle</span>
            <input id="instructionsPerCycle" value="50" />
            </div>
        </div>
        <div title="Logging" class="pane logTab collapsed">
        	  <div class="title">Logging</div>
            <div class="log content"></div>
        </div>
    </div>
  </div>
